html {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

body {
  max-width: 500px;
  margin: 0 auto;
  background: #fdfdfd;
}

h2 {
  color: rgba(175, 47, 47, 0.15);
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 50px;
}

input {
  width: 500px;
  height: 60px;
  font-size: 40px;
  border: 0;
  color: #f1ddde;
  border-bottom: 1px solid #e8e4e4;
  background-color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  float: none;
  padding: 0;
}

input:focus {
  outline: none;
}

ul {
  box-sizing: border-box;
  box-shadow: -webkit-box-shadow: -2px 3px 31px -8px rgba(153,153,153,0.56);
  -moz-box-shadow: -2px 3px 31px -8px rgba(153,153,153,0.56);
  box-shadow: -2px 3px 31px -8px rgba(153,153,153,0.56);
  font-family: 'Qwigley', cursive;
  margin-top: 25px;
  width: 500px;
}

li {
  position: relative;
  text-align: left;
  font-size: 26px;
  font-weight: 100;
  list-style: none;
  color: #747581;
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  list-style-type: circle;
}

li:hover button {
  display: block;
  cursor: pointer;
  visibility: inherit;
  padding-left: 0px;
}

button:first-child {
  position: absolute;
  right: 45px;
  top: 4px;
  background-image: url(../img/delete.svg);
  width: 21px;
  height: 21px;
  background-size: 21px;
  background-repeat: no-repeat;
  border: none;
}

button {
  position: absolute;
  right: 4px;
  top: 6px;
  background-image: url(../img/pencil.png);
  width: 21px;
  height: 21px;
  background-size: 18px;
  background-repeat: no-repeat;
  display: none;
  border: none;
  margin: 10px;
  background-color: #fdfdfd;
}

img {
  width: 20px;
}

